/* Where customize CSS code in addition to
 * bootstrap css
 */

p.instruct {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: grey;
}

img.logo{
  position: relative;
  left: 100px;
  max-width: 4%;
  max-height: 4%;
}
