/* Where customize CSS code in addition to
 * bootstrap css
 * NOTE: need editing for responsiveness
 */

p.instruct {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: grey;
}

p.navigateAccount {
  font-family: inherit;
}



img.logo{
  position: relative;
  left: 90px;
  max-width: 4%;
  max-height: 4%;
}
